.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #f4dcd6;
  
}
/* App.tsx */
.siteHeading {
  text-align: center;
  font-size: 40px;
}
.signOutButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  text-transform: uppercase;
  background-color: white;
  color: black;
  height: 30px;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}
.greeting {
  text-align: center;
  font-size: 35px;
}
.googleLogin {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
}
/* New Travel Entry */
.addForm {
text-align: center;
padding: .1em 0 .1em .5em;

}
.addFormHeader {
  text-align: center;
  font-size: 23px;
}
.addButton {
  position: absolute;
  top: 0;
  margin: 5px;
  text-transform: uppercase;
  background-color: #f4dcd6;
  color: black;
  height: 30px;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}
.addFormInput {
width: 80%;
height: 20px;
margin: 8px;
max-width: 800px;
}
.addFormGoogleInput{
  width: 82%;
  text-align: center;
  max-width: 800px;
}
.addFormGoogleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.addFormContainer {
  background-color: aliceblue;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  margin-bottom: 8px;

}
.addFormSubmit {
  text-transform: uppercase;
  background-color: #f4dcd6;
  color: black;
  height: 30px;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}
/* Travel entry */
.image {
  width: 400px;
  height: 250px;
  margin: 60px;
  display: flex;
  border-radius: 10px;
}
.addHeader {
  flex: 1;
}
.actualTravelEntry {
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: 10px;
}
.addCard {
  background-color: aliceblue;
  width: 95%;
  justify-self: center;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.entryText {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.diaryEntry {
  flex: 1;
}
.trashButton {
  float: right;
  background-color: #f4dcd6;
  border: none;
  margin: 6px;
}
.editButton {
  float: left;
  background-color: #f4dcd6;
  border: none;
  margin: 6px;
}
.cancelButton {
  top: 0;
  right: 0;
  margin: 5px;
  text-transform: uppercase;
  background-color: white;
  color: black;
  height: 30px;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Map */
.stateButton{
  background-color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
/* edit entry */
.editFormContainer {
  background-color: aliceblue;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  /* border: 1px solid black; */
}
.editFormGoogleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  margin: 5px;
}
.editFormGoogleInput{
  width: 45%;
  max-width: 800px;
}
.editFormSubmit {
  text-transform: uppercase;
  background-color: #f4dcd6;
  color: black;
  height: 30px;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}
.editForm { 
  text-align: center;
  padding: .1em 0 .1em .5em;
}
 
/* media queries */
@media only screen and (max-width: 600px) {
  .addCard {
    flex-direction: column;
    padding-right: 25px;
  }
}